.about-services__info {
  display: flex;
  align-items: center;
  @media (min-width: 1366px) {
    padding-top: 15px;
  }
}

.title {
  width: 304px;
  height: 40px;
  color: $text;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  margin: 15px 0 15px 20px;
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    left: -20.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 3.5px;
    height: 36px;
    border-radius: 12px;
    background-color: $highlight;
    transition: background-color 0.3s;

    @media (min-width: 1366px) {
      left: -21.5px;
    }
  }

  &:hover::before {
    background-color: $highlight;
  }
}

@media (min-width: 1366px) {
  .desktop-icon-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    gap: 20px;
    list-style-type: none;

    .desktop-icon-list__item {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .button__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $text;
  }
}
