.footer__page {
  background-color: $background;
  border-top: 1px solid $border;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}

.legal-information {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__info {
    flex: 1;
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
    color: $menu;
  }

  &__link:hover {
    color: $text;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .legal-information {
    display: grid;
    grid-template-columns: 218px 214px 213px;
    justify-content: space-between;
    align-items: start;
    gap: 0;

    &__info:nth-child(1) {
      justify-self: start;
      text-align: left;
      white-space: wrap;
    }

    &__info:nth-child(2) {
      justify-self: center;
      text-align: center;
      white-space: nowrap;
    }

    &__info:nth-child(3) {
      justify-self: end;
      text-align: right;
      white-space: wrap;
    }
  }
}

@media (min-width: 1366px) {
  .legal-information {
    grid-template-columns: 218px 214px 330px;
  }
}
