$border: #d9fff5;
$background: #f8f8f8;
$active: #b8ffec;
$text: #1b1c21;
$menu: #7e7e82;
$devider: #eaeaea;
$highlight: #41f6d7;
$shadow-color-1: rgba(14, 24, 80, 0.2);
$shadow-color-2: rgba(69, 79, 126, 0.05);
$pagination: #dddddd;
$pagination-active: #b5b6bc;
$button-background: #ff3e79;
